* {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgba(0, 0, 0, 0.616);
    border-radius: 5px ; */
    box-sizing: border-box;
}
body {
    margin: 0.5rem;
    font-family: sans-serif;
    text-align: center;
}
nav {
    border: 2px solid rgba(0, 0, 0, 0.568);
    border-radius: 2rem;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 5rem;
}
h2 {
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 2rem 2rem 0 0;
}
ul {
    list-style-position: none;
}
li{
    border-top: 1px solid rgba(0, 0, 0, 0.637);
}

li a {
    text-decoration: none;
    display: block;
}
li a:visited {
    color: pink;
}
li a:hover{
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    cursor: pointer;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}




